.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto); /* Adjust as needed */
    background-color: black;
    text-align: center;
    justify-content: center; 
    padding: 5px;
    gap:10px
}

@media screen and (max-width: 930px) {
    .grid-container {
        grid-template-columns: repeat(2, auto); /* Change to two items in each row for smaller screens */
        margin: auto;
        text-align: center;
        justify-content: center; 
    }
}

/* brands worked with */
.brandContain{
    padding-bottom: 90px;
}
.brands{
    padding-left: 200px;
    padding-right: 200px;
}
.epic{
    width: 100px;
    padding-top: 40px;
}
.sony{
    width: 100px;
    padding-top: 15px;
}
.cmg{
    width: 100px;
    margin: 20px;
}
.onerpm{
    width: 110px;
    padding-top: 27px;
}

.rollingLoud{
    width: 150px;
    padding-top: 15px;
}
.empire{
    width: 100px;
    padding-top: 15px;
}

.montblanc{
    width: 120px;
    padding-top: 15px;
    padding-left: 15px;
}
.umg{
    width: 180px;
    padding-top: 15px;
}
/*  */

.gtvideo{
    font-family: "Oswald", serif;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-height: 100vh;
}
#myVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gname{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}
.gname h1{
    font-size: 3.5em;
    margin-bottom: 0.5em;
    letter-spacing: 0.1cm;
    font-weight: 700;
    opacity: 1;
}
.gname p{
    font-size: 1.5em;
    font-weight:700;
    font-style: normal;
    font-family: Oswald;

}
.line{
    width: 50%; /* Adjust the width of the line */
    height: 1px; /* Adjust the height of the line */
    background-color: white; /* Change the color of the line */
    margin: 20px auto; /* Adjust the margin */
}

.brandsTitle{
    padding-top: 70px;    
}
.coolBrands{
    color: white;
    text-align: center;
    font-family: "Oswald, Helvetica Neue Light", Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

/* youtube videos */
.video-grid {
    display: grid;
    gap: 50px; /* Gap between grid items */
    justify-content: center; /* Center the grid horizontally */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media screen and (min-width: 1054px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr); /* Change to a single column on smaller screens */
    }
}
.video-wrapper {
    width: 100%; /* Ensure videos take up the full width of the grid cell */
    max-width: 560px; /* Adjust maximum width as needed */
}

.video-wrapper iframe {
    width: 100%; /* Ensure the iframe takes up the full width of its container */
    height: 315px; /* Adjust height as needed */
}
.vidContain{
    display: flex;
    justify-content: center; /* Center the container horizontally */
}