.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    background-color: black;
}
.brandContain{
    padding-bottom: 90px;
}
.brands{
    padding-left: 200px;
    padding-right: 200px;
}
.epic{
    width: 100px;
    padding-top: 40px;
}
.sony{
    width: 100px;
    padding-top: 15px;
}
.cmg{
    width: 100px;
    margin: 20px;
}
.onerpm{
    width: 110px;
    padding-top: 27px;
}
#myVideo{
    position: relative;
    width: 100vw;
    z-index: 0;
}

.gname{
    position:absolute; 
    width: 100%;
    height: 100%;
    top:13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}

.homeName{
    font-size: 68px; 
    font-size: 425%;
    font-weight: 700;
    opacity: 1;
    text-size-adjust: 100%;
    transition-timing-function: ease; 
    transition-duration: 0.65s; 
    transition-delay: 0.102857s;
    font-family: "Oswald", serif;
    letter-spacing: 0.1cm;
}

.horizontalblock{
    position: relative;
    color: rgb(250, 250, 250);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14.2648px;
    font-style: normal;
    font-weight: 400;
    height: 28.6016px;
    justify-content: flex-start;
    letter-spacing: -0.142648px;
    line-height: 21.3972px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-top:0px;
    text-size-adjust: 100%;
    width: 6.62%;
    border-bottom: 2px solid white;
}

.companytype{
    color: rgb(250, 250, 250);
    display: inline;
    font-family: Oswald;
    font-size: 122%;
    font-style: normal;
    font-weight:700;
    height: auto;
    letter-spacing: normal;
    line-height: 23.1776px;
    overflow-wrap: break-word;
    text-align:center;
    text-decoration-color: rgb(250, 250, 250);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    text-transform:uppercase;
    white-space-collapse:preserve;
    padding: 39.578px;
}
.wayup{
    width: 100vw;
}

.ytvidtrial{
    position: fixed; z-index: -99; width: 100%; height: 100%
}

@media only screen and (min-width:401px) and (max-width:700px){ 
    .gname{
        top:-10%;
    }
    .homeName{
        font-size: 190%;
    }
    .companytype{
        font-size: 90%;
    }
  }  
  @media only screen and (min-width:701px) and (max-width:900px){
    .gname{
        top:-1%;
    }
    .homeName{
        font-size: 350%;
    }
    .companytype{
        font-size: 140%;
    }
  }  
  @media only screen and (min-width:1000px){
    .gname{
        top:13%;
    }
    .homeName{
        font-size: 425%;
    }
    .companytype{
        font-size: 122%;
    }
  }  
  @media only screen and (max-width:400px){ 
    .gname{
        top:-15%;
    }
    .homeName{
        font-size: 70%;
    }
    .companytype{
        font-size: 40%;
    }
  } 

.brandsTitle{
    padding-top: 70px;    
}
.coolBrands{
    color: white;
    text-align: center;
    font-family: "Oswald, Helvetica Neue Light", Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.onewayup{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    align-content: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 50px; /* Gap between grid items */
    justify-content: center; /* Center the grid horizontally */
}
.video-wrapper {
    width: 100%; /* Ensure videos take up the full width of the grid cell */
    max-width: 560px; /* Adjust maximum width as needed */
}

.video-wrapper iframe {
    width: 100%; /* Ensure the iframe takes up the full width of its container */
    height: 315px; /* Adjust height as needed */
}
.vidContain{
    display: flex;
    justify-content: center; /* Center the container horizontally */
}


.rollingLoud{
    width: 150px;
    padding-top: 15px;
}
.empire{
    width: 100px;
    padding-top: 15px;
    margin-left: 45px;
}

.montblanc{
    width: 120px;
    padding-top: 15px;
}
.umg{
    width: 200px;
    padding-top: 15px;
    margin-left: 10px;
}